<div class="event list">
  <h1>Event List</h1>
  <% @events.each do |event| %>
    <strong><%= event.name %><br></strong>
    <p><%= event.date %></p>
    <p><%= event.location %></p>
    <p><%= event.description %></p>
  <% end %>
    <li><%= link_to "Created Events", "/users/show"  %></li>
</div>